.header {
    font-weight: bold;
}

.leaderboard {
    display: flex;
    flex-wrap: wrap;
}

.performance,
.memory,
.characters {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    margin: 1rem;
}

.noSubmission {
    font-style: italic;
}

.user {
    font-weight: bold;
    flex: 1 0 50%;
    margin: 0;
}

.value {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.result {
    display: flex;
}

.resultList {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.submission {
    border: 1px solid var(--color-dividers);
    font-family: monospace;
    flex: 1 0 auto;
    font-size: 0.6rem;
    overflow: auto;
    padding: 10px;
    white-space: pre;
}
