:root {
    --color-card: #ffffffcc;
    --color-button-background: #ffffffcc;
    --color-button-hover: #ccccff;
    --color-dividers: #999999;

    --color-border: #999999;
    --color-background: #f0f0f0;
    --color-errors: #ffcccc;
    --color-info: #ccccff;

    font-family: 'Open Sans', sans-serif;
    font-size: 100%;

    background: var(--color-background);
}

button {
    font-family: inherit;
    padding: 10px;
    font-size: 1rem;
}
