<form-field label="Input" type="string" [defaultValue]="defaultInput" (fieldChange)="onInputChange($event)"></form-field>
<form-field label="Output" type="string" [defaultValue]="defaultOutput" (fieldChange)="onOutputChange($event)"></form-field>
<form-button class="submit" label="Check" (buttonClick)="onValidate()"></form-button>

<div class="loading" *ngIf="result && !(result | async)">
    Checking...
</div>
<submission-result *ngIf="result | async" [result]="result | async"></submission-result>
