<editor-editor class="editor" [defaultValue]="value" (editorChange)="onSolutionChange($event)"></editor-editor>

<div class="panel">
    <div class="tabs">
        <button class="tab" [class.isActive]="panel === 'details'" (click)="setPanel('details')">Details</button>
        <button class="tab" [class.isActive]="panel === 'submission'" (click)="setPanel('submission')">Submission</button>
        <button class="tab" [class.isActive]="panel === 'test'" (click)="setPanel('test')">Test</button>
    </div>

    <challenge-details [hidden]="panel !== 'details'" [challenge]="challenge"></challenge-details>
    <challenge-submission [hidden]="panel !== 'submission'" [submission]="value" [challenge]="challenge"></challenge-submission>
    <challenge-test [hidden]="panel !== 'test'" [submission]="value" [challenge]="challenge"></challenge-test>
</div>

