.editor {
    flex: 1 1 auto;
    height: 95vh;
}

.tabs {
    display: flex;
    margin: 10px 0;
}

.isActive {
    background: #7777dd;
}

:host {
    display: flex;
}

.panel {
    flex: 0 1 25%;
    padding: 20px;
    border-left: 1px solid var(--color-dividers);
    margin-left: 20px;
    overflow: hidden;
}

.tabs {
    display: flex;
}

.tab {
    border: 0;
    border-bottom: 1px solid;
    padding: 10px;
    flex: 1 0 0;
}

.tab + .tab {
    border-left: 1px solid;
}
